[submodule "json-rpc-cxx"]
	path = json-rpc-cxx
	url = https://github.com/jsonrpcx/json-rpc-cxx.git
[submodule "makefiles"]
	path = makefiles
	url = https://github.com/sbeaugrand/makefiles.git
[submodule "upm"]
	path = upm
	url = https://github.com/eclipse-upm/upm.git
	shallow = true
[submodule "mraa"]
	path = mraa
	url = https://github.com/sbeaugrand/mraa.git
	shallow = true
